<h1>Log In</h1>

<form action="/login" method="post">

  Username: <input type="text" name="username"></input>
  <br></br>
  Password: <input type="text" name="password"></input>
  <br></br>
  
</form>

<p>Or <a href="/signup">Sign Up</a> if you do not have an account.</p>