<h1>Log In</h1>

<form action="/login" method="post">

  Username: <input type="text" name="username"></input>
  <br></br>
  Password: <input type="text" name="password"></input>
  <br></br>

  <input type="submit" name="submit" value="Log In"></input>
  
</form>

<h3><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %> 
<a href="/signup">Sign Up</a> if you do not have an account.</h3>