<h1>Create a New Entry</h1>

<form action="/cars" method="post">

  Make: <input type="text" name="make">

  Model: <input type="text" name="model">

  Year: <input type="text" name="year">

  <input type="submit" name="submit">

</form>