<h2>Would you like to edit or delete your car?</h2>


<p><%= @car.make_model_year %></p>

<div class="buttons">
  <p>
    <span>
      <form action="/cars/<%= @car.id %>/edit">
        <input type="submit" value="Edit Car">
      </form>
    </span>
  
    <span>
      <form action="/cars/<%= @car.id %>/delete">
        <input type="submit" value="Delete Car">
      </form>
    </span>
  
    <span>
      <form action="/cars">
        <input type="submit" value="Go Back">
      </form>
    </span>
  </p>
</div>

